<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank You for Your Application, <%= @user.first_name + @user.last_name %></h1>
    <p>
      Thank you for your application.  We will contact you once we have made a decision.
    </p>
  </body>
</html>