<h1>Add Grant Details</h1>

<%= form_for @grant_application, url: add_grant_details_update_grant_application_path(@grant_application) do |f| %>

<% end %>
<div>
  <%= link_to "Back", program_grant_application_path(@grant_application) %>
</div>