<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received a new grant application</h1>
    <p>
      To view the application, please click the following link: 
      <%= grant_application_url(@grant_application, host: 'example.com') %>
    </p>
  </body>
</html>
