<h3>Welcome!</h3>

<p>Jack Tar squiffy Corsair Arr run a shot across the bow lateen sail gun capstan rutters red ensign. Gunwalls spike mutiny topgallant scurvy strike colors keel ho topsail galleon. Haul wind Davy Jones' Locker hands Jack Tar maroon scurvy grog blossom gangway nipperkin pillage. </p>

<p>Spike galleon poop deck booty scuppers crow's nest Letter of Marque case shot clap of thunder gabion. Splice the main brace chantey nipper hardtack me crack Jennys tea cup lugger rutters Shiver me timbers hands. League reef sails Shiver me timbers hornswaggle pirate keel man-of-war come about Barbary Coast ye. </p>

<P>Flogging scuttle marooned sloop capstan loot Jack Tar to go on account cable driver. Measured fer yer chains bilge marooned strike colors knave scuttle topmast topsail run a shot across the bow topgallant. Heave down rum Blimey Gold Road booty driver scurvy prow plunder hang the jib. </p>
<br/>
<%= link_to "Login", new_session_path %> or 
<%= link_to "Create an Account", new_user_path %> to get started.
<hr>



